nav{
  position: fixed;
  top: 0px;
  width:100%;
  display: flex;
}

.menu_start{
  justify-content: center;

}

.menu_rest{
  margin-left: auto;
}

a{
  text-transform : uppercase;
  font-weight: bold;
  color : #EBF2FA;
  letter-spacing :1.25px;
  text-decoration: none;
}

.icon_menu{
  width:3em;
  align-items: center;
  background-color: rgba(49,58,46,0.3);
}

.icon_menu:hover{
    background-color: rgba(255,203,119,0.8);
    transition-duration : 1s;
}

.icon_book{
  background-color: rgba(23,28,97,0.7);
}

.icon_book:hover{
  background-color: rgba(255,203,119,0.8);
  transition-duration : 1s;
  color: #EBF2FA;
}

img{
   height: 3em;
   width: 3em;
}
