@font-face {
  font-family: 'IndieFlower';
  src: local('IndieFlower'),url(./IndieFlower.woff) format('woff');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'),url(./Quicksand.ttf) format('truetype');
}

main {
  display: flex;
  flex-direction: column;
  background: rgba(black, 0.66);
  color: white;
  padding: 1rem;
}

video{
object-fit: cover;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
z-index: -1;
}

.contenedor1{
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  justify-content: center;
  margin-top: 200px;

}

.viewport-header {

}

.logo{
  display: flex;
  height: 15vh;
  justify-content: center;
  margin-bottom: 8vh;
}

.foto_logo{
  position: relative;
  width: 20vh;
  height: 15vh;

}

h2{
  width: 60%;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 6vh;
  color: #F7F5EF;
  line-height: 1.2em;
  justify-content: space-between;

}


span{
  font-family: 'IndieFlower',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  font-size: 3vh;
  color: rgba(247,245,239,0.9);
  letter-spacing: 3px;
  line-height: 1.2em;
  text-align: center;
}
